body {
  background-image: url("/img/chalk.jpg");
  background-position: center;
  background-size: cover;
  font-size: 16px; }

h1 {
  font-family: "HandShop";
  color: #FFD700; }

a {
  font-family: "Atlantic"; }
